/* Add any CSS you need to this file. */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #282929;
}

.container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1080px;
  margin: 0 auto;
}
.kitchen-store {
  font-family: 'Cinzel', serif;
  font-size: 20px;
}
.kitchen-store span {
  color: #4551a2;
}
.logo {
  margin-top: 12px;
  height: 50px;
}
.header-page a:first-child {
  color: #4551a2;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.header-page a:first-child:hover {
  color: #ffc04e;
  text-decoration: revert;
}
.header-page a:last-child {
  padding: 8px 20px;
  margin-left: 20px;
  color: #4551a2;
  text-decoration: none;
  border: 2px solid #4551a2;
  outline: none;
  transition: all 0.1s ease-in-out;
}
.header-page a:last-child:hover {
  color: white;
  background-color: #4551a2;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
.menu div {
  margin: 10px 30px;
  font-size: 17px;
  letter-spacing: 4px;
  cursor: pointer;
}
.menu a {
  border-bottom: 1px solid #111;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
.menu a:active,
.menu a:hover {
  color: #ffc04e;
}

.header-img {
  height: 800px;
  background-image: url('./images/header-img.jpg');
  background-size: cover;
  text-align: center;
}
.slogan {
  padding-top: 180px;
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 2px;
}
.slogan span {
  color: #4551a2;
}
#all-btn {
  height: 50px;
  width: 220px;
  color: white;
  background-color: #4551a2;
  border: none;
  outline: none;
  margin-top: 46px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
}
#all-btn:hover,
#all-btn:active {
  color: #333333;
  background-color: #ffc04e;
}

#featured-products {
  margin: 80px auto;
}
.title {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
}

#products-container {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0;
}
.product-item {
  flex: 33.33%;
  flex-grow: 0;
}
.product-wrap {
  padding: 30px 30px 70px;
  border-bottom: 1px solid #e2e2e2;
}
.product-img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  margin-bottom: 10px;
}
.product-content {
  padding: 0 20px;
}
.product-category {
  font-weight: 100;
  margin-bottom: 10px;
}
.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 52px;
}
.product-price {
  font-family: 'PT Serif', serif;
  font-size: 30px;
  font-weight: 100;
  margin: 5px 0 8px;
}
.product-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 85px;
}

#footer {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  background: #eee;
}
.footer-left {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  padding-left: 100px;
}
.footer-category {
  display: flex;
  margin-bottom: 60px;
}
.footer-category-item {
  flex: 1;
}
.footer-title {
  margin-bottom: 20px;
  font-size: 17px;
  letter-spacing: 4px;
  cursor: pointer;
}
.footer-title a {
  border-bottom: 1px solid #111;
}
.footer-category-item ul {
  list-style: none;
}
.footer-category-item li {
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-social {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 18px;
}
.contact-social li {
  font-size: 23px;
  margin-right: 20px;
  cursor: pointer;
}
.contact-social li a {
  color: #4551a2;
}
.contact-social i {
  transition: all 0.1s ease-in-out;
}
.contact-social i:hover {
  color: #ffc04e;
}
.contact-info {
  font-size: 17px;
  font-weight: 100;
  margin: 10px 0;
}
.footer-right {
  flex: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  padding-right: 100px;
}
.footer-logo {
  height: 74px;
  margin-bottom: 20px;
}
.sign-up-email {
  margin-bottom: 10px;
}
.footer-subscribe {
  width: 300px;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type='submit'] {
  width: 100px;
  height: 40px;
  background-color: #4551a2;
  color: white;
  border: none;
  transition: all 0.1s ease-in-out;
}
input[type='submit']:hover {
  color: #333333;
  background-color: #ffc04e;
}

.copy-term {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}
.copy-term div {
  font-size: 14px;
  font-weight: 100;
  margin-right: 50px;
}
.copy-term div:last-child {
  cursor: pointer;
}

/* contact us */
.contact-slogan {
  padding-top: 180px;
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.contact-slogan span {
  color: #4551a2;
}
.contact-header-img {
  height: 500px;
  background-image: url(./images/contact-us.jpg);
  background-size: cover;
  text-align: center;
  background-position-y: 56%;
}

.contact-us {
  margin-top: 80px;
  margin-bottom: 80px;
}
.contact-us-wrap {
  width: 80%;
  margin: 50px auto 0 auto;
}
.contact-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.contact-row-item {
  flex: 1;
  padding-right: 20px;
}
.contact-label {
  display: block;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.contact-label span {
  color: red;
  margin-right: 3px;
}
.form-control {
  width: 100%;
  font-size: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.contact-row-about {
  justify-content: flex-start;
}
.form-control-radio {
  margin-left: 20px;
}
.contact-row-number {
  display: none;
}
#message {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  margin-right: 20px;
}

@media only screen and (max-width: 415px) {
  .header {
    display: block;
    text-align: center;
    height: auto;
  }
  .kitchen-store {
    margin: 20px auto;
    text-align: center;
  }
  .logo {
    margin-top: -8px;
    margin-bottom: 20px;
    height: 60px;
  }
  .header-page a {
    text-decoration: none;
  }
  .header-page a:last-child {
    padding: 0;
    border: none;
  }
  .menu div {
    text-align: center;
    margin: 10px 10px;
  }
  .menu a {
    text-align: center;
    font-size: 15px;
  }
  .header-img,
  .contact-header-img {
    height: 400px;
  }
  .slogan {
    font-size: 60px;
    padding-top: 100px;
  }
  .contact-slogan {
    font-size: 60px;
    padding-top: 160px;
  }
  #featured-products,
  .contact-us {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #products-container {
    display: block;
  }
  .product-wrap {
    padding: 10px 10px 40px;
  }
  .product-img {
    height: 240px;
  }

  .contact-row {
    display: block;
  }
  .contact-us-wrap {
    width: 90%;
  }
  .contact-row div {
    margin-bottom: 20px;
  }
  .contact-label {
    margin-bottom: 20px;
  }
  #message {
    width: 92.5%;
    margin-right: 0;
  }

  #footer {
    display: block;
    padding: 40px 0;
  }
  .footer-left {
    padding-left: 60px;
  }
  .footer-category {
    display: block;
    margin-bottom: 20px;
  }
  .footer-category-item {
    margin-bottom: 30px;
  }
  .footer-right {
    padding-right: 0;
    text-align: center;
  }
  .footer-right div:first-child a {
    display: none;
  }
}

@media only screen and (min-width: 416px) and (max-width: 768px) {
  .product-wrap {
    padding: 10px 10px 50px;
  }
  .product-img {
    height: 220px;
  }
  .footer-left {
    padding-left: 40px;
  }
  .footer-right {
    padding-right: 40px;
  }
}
